<a href="https://colab.research.google.com/github/umermaher/DS-A---Labs/blob/main/20SW033_Lab03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
points = int(input("Enter points: "))
wooden_rabit = "Wooden Rabit"
wafer_thin_min = "Wafer-thin mint"
panguin = "Panguin"

if points > 0 and points <= 50:
  print("Congratulations you won a {}".format(wooden_rabit))
elif points > 50 and points <= 150:
  print("You won no prize")
elif points > 150 and points <= 180:
  print("Congratulations you won a {}".format(wafer_thin_min))
elif points > 180 and points <= 200:
  print("Congratulations you won a {}".format(panguin))

Enter point: 11
Congratulations you won a Wooden Rabit

In [21]:
number = int(input("User 1, Enter a number: "))
guessedNumber = int(input("User 2, Guess User 1's number: "))
result = ""
if guessedNumber > number:
  result = "Oops! Your guess was too high!"
elif guessedNumber < number:
  result = "Oops! Your guess was too low!"
elif guessedNumber == number:
  result = "Nice! You got that number."
print(result)

User 1, Enter a number: 1
User 2, Guess User 1's number: 1
Nice! You got that number.

In [22]:
list = ["the", "quick", "brown", "fox", "jumped", "over", "the", "lazy", "dog"]
for i in list:
  print(i)

the
quick
brown
fox
jumped
over
the
lazy
dog

In [27]:
multipleOf5 = [x for x in range(1,31) if x%5 == 0]
for i in multipleOf5 :
  print(i)

5
10
15
20
25
30

In [29]:
names = ["Umer Mahar", "Niaz Hussain", "Awais Chandio", "Ahmed Shaikh", "Saif Shaikh"]
firstNames = [name.split()[0] for name in names]
print(firstNames)

['Umer', 'Niaz', 'Awais', 'Ahmed', 'Saif']

In [34]:
l = [x for x in range(60) if x%3==0]
print(l)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57]

In [36]:
scores = {
    "Rick Sanchez": 70,
    "Morty Smith": 35,
    "Summer Smith": 82,
    "Jerry Smith": 23,
    "Beth Smith": 98
}
passed = [score for score in scores.values() if score >= 65]
print(passed)

[70, 82, 98]

In [40]:
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]

cast = zip(cast_names, cast_heights)
for c in cast:
  print(c)

('Barney', 72)
('Robin', 68)
('Ted', 72)
('Lily', 66)
('Marshall', 76)

In [53]:
casts = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]

for i, cast in enumerate(casts):
  h = heights[i]
  casts[i] = "{}: {}".format(casts[i], h)

for cast in casts:
  print(cast)

Barney Stinson:72
Robin Scherbatsky:68
Ted Mosby:72
Lily Aldrin:66
Marshall Eriksen:76